@font-face {
    font-family:'Star Jedi' ;
    src: url('../font/Starjedi.ttf');
}



html,body{
    font-family: 'Star Jedi';
}
 header, h3, p{
    margin-bottom:0;

}


p, .card-title, .card-text{
    font-size: 0.6rem;
    font-family: 'Press Start 2P', cursive;
}
.card{
    max-width: 100px;
}