@font-face {
    font-family:'Star Jedi' ;
    src: url('../font/Starjedi.ttf');
}


header, h3, h4, p{
    font-family: 'Star Jedi';
}


p, .card-title, .card-text,#attackResult, .btn{
    font-size: 0.7rem;
    font-family: 'Press Start 2P', cursive;
}
.card{
    max-width: 110px;
}